html,
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Liberation Sans, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

main {
    margin: 0 auto;
    max-width: 1000px;
}

main {
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    margin: 2em auto;
    color: #1d1d1d;
}

h1,
h2,
h3 {
    line-height: 1.2;
    margin: 0 1em;
    font-size: 2em;
    width: fit-content;
}

a {
    color: #81b8d6;
    text-decoration: none;
    text-underline-offset: 5px;
}

code {
    background: #f8f8f8;
    border: 1px dotted silver;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 5px;
}

main a:hover {
    text-decoration: underline;
}

nav {
    background-color: #BDAD76ff;
}

nav div {
    position: relative;
    margin: 0 auto;
    padding-top: 80px;
    max-width: 1000px;
}

#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0 auto;
    height: 90px;
    width: 90px;
    background-image: url(aro-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

nav a {
    color: #222833;
}

nav ul {
    padding: 0 0 0 120px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li>a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li>a:hover {
    background-color: rgb(210, 195, 140);
}

a[href^="http"]::after {
    background-image: url(external-link.svg);
    background-size: 10px 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    content: "";
    margin-inline-start: 5px;
}